<% content_for :table do %>
  <div class="deck-parent"> 
  <table>
    <thead>
      <tr>
        <th>
          <span>#</span>
        </th>
        <th>
          <span>name</span>
        </th>
      </tr>
    </thead>
    <tbody>
      
      <% if @decks == 'NO RESULTS'%>
        <tr><td> 1 </td><td><%= @decks %> </td></tr>
      <% elsif @decks.is_a? Array %>
        <% @decks.each_with_index do |deck,i| %>
          <tr><td><%="#{i+1}"%></td>
          <td><%= link_to("#{deck.name}", "http://www.hearthhead.com/deck=#{deck.hearthhead_id}", :target => "_blank")%> </td></tr>
        <% end %>
      <% else %>
        <tr><td> 1 </td><td>Empty Query</td></tr>
      <% end %>
    </tbody>
  </table>
  </div>

<% end %>