@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin input_shadow {
	-webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

body{
	background: asset_url('bg1.png');
	background-size: 100% auto;
}
.my-container{
	max-width: 1000px;
	width: 75%;
	background: white;
	margin: 0 auto;
}

/* table styles */
th, td {
	color: white;
	padding: 5px;
	border: #808080 1px solid;
}
th{
	background-color: #222;
}
td{
	background-color: #0c1013;
	opacity: 0.9;
}
td a {
	display: block;
	width: 100%;
}
tbody tr:hover{
	background-color:#4f4036; 
}

tbody tr:hover a{
	color:white;
}
td a:hover{
	text-decoration: none;
}

.logo{
	width: 60%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: -40px;
	margin-top: -40px;
}
.add{
	height: 34px;
	font-size: 100%;
	padding: 0 5px;
	width: 50%;
	margin-bottom: 10px;


}
#search::-webkit-input-placeholder {

}
.add:hover{
	border: #33D633 solid 1px;
}
.input-container .btn{
	border-radius: 0;
	border-top: 2px;
	border-bottom: 2px;
}
.saved-value{
	display: none;
}
/* ---------- Before Search Styles -------- */

.img-container {
	color: white;
	font-size: 28px;
	font-family: "Arial Rounded MT Bold";
	height: 340px;
	background: image-url('bg2.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-top: 30px;
	padding-top: 40px;
	.col-md-4{
		text-align: center;
		padding: 0 10px;
		img{
			display: block;
			margin: 10px auto;
			width: 70%;
		}
	}
}
.legend-img{
	width: 90%;
	margin: 0 auto;
}

/* FOOTER ---------------*/
#footer {
	background-color: black;
	color: white;
	text-align: right;
	padding: 10px;
	height: 40px;

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Repsponsive Styles*/
$break-small: 360px;
$break-large: 1200px;
$phone: "screen and (max-width : 360px)";
.my-container, {
  @media #{$phone} {
    width: 85%;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: $break-large) {

  }
}
#footer img{
	@media #{phone} {
			height: 100%;
	}
}
.add {
  @media #{$phone} {
  	width: 85%;
  	display: block;
  	padding-left: 2px;
  	margin-left: auto;
  	margin-right: auto;
  	border-radius: 4px;
  }
}
#the-one {
  @media #{$phone} {
  	width: 85%;
  	display: block;
  	margin: 0 auto;
  	border-radius: 4px;
  	margin-bottom: 10px;
  }
}
h1 {
	@media #{$phone} {	
		font-size: 20px;	
		text-align: center;
	}
}
table, .input-container {
	@media #{$phone} {
		width: 100%;
		border-radius: 4px;
	}
}
