@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin input_shadow {
	-webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

body{
	background: asset_url('bg1.png');
	background-size: 100% auto;
}
.container{
	max-width: 1000px;
	width: 75%;
	background: white;
}
/* table styles */
th, td {
	color: white;
	padding: 5px;
	border: #808080 1px solid;
}
th{
	background-color: #222;
}
td{
	background-color: #0c1013;
	opacity: 0.9;
}
td a {
	display: block;
	width: 100%;
}
tbody tr:hover{
	background-color:#4f4036; 
}

tbody tr:hover a{
	color:white;
}
td a:hover{
	text-decoration: none;
}

.logo{
	width: 50%;
	margin-bottom: -30px
}
.add{
	height: 34px;
	font-size: 100%;
	padding: 0 5px;
	width: 50%;
	margin-bottom: 10px;
}
.add:hover{
	border: #33D633 solid 1px;
}
.input-container .btn{
	border-radius: 0;
	border-top: 2px;
	border-bottom: 2px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}