
<div class="img-container" id="">
	<div class="row">
		<div class ="col-md-4"></div>
		<div class ="col-md-4">
			<img class="cards-img" src="http://tespa.org/wp-content/uploads/2014/09/Hearthstone-Cards-PNG.png">
			<p>Find out what decks your opponents are playing</p></div>
		<div class ="col-md-4"></div>
	</div>
</div>