
<div class="img-container" id="">
	<div class="row">
		<div class ="col-md-4"></div>
		<div class ="col-md-4">
			<%= image_tag "card-backs.png", class: "cards-img" %>
			<p>Find out what decks your opponents are playing</p></div>
		<div class ="col-md-4"></div>
	</div>
</div>